@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  width: 100%;
  max-width: 80rem;
}

@theme {
  /* Orange Shades */
  --color-orange-65: #ff8d4c;
  --color-orange-70: #ff9e66;
  --color-orange-75: #ffae80;
  --color-orange-80: #ffbe99;
  --color-orange-90: #ffdecc;
  --color-orange-95: #ffefe5;
  --color-orange-97: #fff5f0;
  --color-orange-99: #fffcfa;
  /* Grey Shades */
  --color-grey-10: #191919;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-30: #4c4c4d;
  --color-grey-35: #59595a;
  --color-grey-40: #656567;
  --color-grey-60: #98989a;
  --color-grey-70: #b3b3b3;
}

/* Global */
html,
body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

p {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-grey-20);
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}
